VECT_API_KEY=YOUR_VECTDB_API_KEY
AZURE_API_KEY=YOUR_AZ_API_KEY
AZURE_ENDPOINT=YOUR_AZSERVICE_ENDPOINT
AZURE_VERSION=2025-03-01-preview
DEPLOYMENT_MODEL=YOUR_DEPLOYMENT_MODEL_NAME
SEMANTIC_MODEL=all-MiniLM-L6-v2